* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

header {
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    padding: 20px;
    color: white;
    align-items: center;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -2.075px;
}

.header--project {
    margin-left: auto;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

.meme--form {
    padding: 36px;
}

.meme--input-1, .meme--input-2 {
    border-radius: 5px;
    width: 48%;
    border: 1px solid #D5D4D8;
    height: 35px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

.meme--input-2 {
    margin-left: 17px;
}

.meme--button {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1.6px;
}