* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 30px 20px;
}

main {
    height: 400px;
    background: #F5F5F5;
    max-width: 800px;
    border-radius: 10px;
}